<div class="container">
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

            <% if (messages) { %>
                <div class="flash-messages">
                    <%- messages() %>
                </div>
                <% } %>

                    <nav>
                        <ul>
                            <li><a href="/inv/add-classification">Add New Classification</a></li>
                            <li><a href="/inv/add-inventory">Add New Inventory</a></li>
                        </ul>
                    </nav>
</div>