<div class="container">
    <section class="hero">
        <h1>Welcome to CSE Motors!</h1>
        <!-- <img src="/images/vehicles/delorean-tn.jpg" alt="DMC Delorean"> -->
        <picture>
            <source media="(max-width: 480px)" srcset="/images/vehicles/delorean-tn.jpg">
            <source media="(min-width: 768px)" srcset="/images/vehicles/delorean.jpg">
            <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
        </picture>
        <div class="delorean-feature">
            <h3>DMC Delorean</h3>
            <p>3 cup holders<br>Superman doors<br>Fuzzy dice!</p>
            <button>Own Today</button>
        </div>
    </section>
    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (4/5)</li>
        </ul>
    </section>
    <section class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-list">
            <div class="upgrade-item-wrapper">
                <div class="upgrade-item">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <a href="#">Flux Capacitor</a>
            </div>
            <div class="upgrade-item-wrapper">
                <div class="upgrade-item">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <a href="#">Flame Decals</a>
            </div>
            <div class="upgrade-item-wrapper">
                <div class="upgrade-item">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <a href="#">Bumper Stickers</a>
            </div>
            <div class="upgrade-item-wrapper">
                <div class="upgrade-item">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <a href="#">Hub Caps</a>
            </div>
        </div>
    </section>
</div>