/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  font-size: clamp(1rem, 1vw, 1.125rem);
  line-height: 1.6;
}

p {
  font-size: clamp(0.9rem, 0.9vw, 1rem);
  line-height: 1.8;
}

h1 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.25rem, 1.8vw, 2rem);
  line-height: 1.3;
}

h3 {
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
  line-height: 1.4;
}

h1, h2, h3 {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container, nav, #top-header, footer {
  max-width: 480px;
  margin: 0 auto; 
  padding: 0 10px;
  box-sizing: border-box;
}

#top-header {
  padding-top: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.siteName a, #tools a {
  text-decoration: none;
  color: #000;
}

.siteName a {
  font-size: 3em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#tools {
  align-self: flex-start;
}

nav {
  padding-top: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(1, 1, 45);
}

nav li {
  padding: 10px 20px;
  margin-right: 10px;
  font-weight: 600;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  position: relative;
  display: block; 
  margin: auto;
  max-width: 70%;
}

.delorean-feature {
  position: absolute;
  top:69%;
  left: 20%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.7);
  color: #037a92;
  padding: 5px 10px;
  border-radius: 8px;
}

.delorean-feature p {
  margin-top: 0;
}

.delorean-feature h3 {
  margin-bottom: 0;
}

button {
  background-color: #01b0d3;
  padding: 10px;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  border-radius: 5%;
  border: none;
}

.reviews {
  margin-top: 40px;
}

.reviews li:not(:first-child) {
  padding-top: 20px;
}

.upgrade-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.upgrade-item-wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upgrade-item {
  background-color: #01b0d3;
  padding: 0 60px;
  text-align: center;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upgrade-item img {
  display: block;
  margin: 0 auto;
}

.upgrade-item-wrapper a {
  display: block;
  margin-top: 5px;
  color: #0000EE;
  text-align: center;
}

.upgrade-item-wrapper a:hover {
  color: #FF4500;
}

.upgrades {
  margin-top: 40px;
}

footer {
  padding: 30px;
}


/* Inventory Styles */
#inv-display {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#inv-display li {
  flex: 1 1 100%;
  list-style-type: none;
  border: 2px solid rgb(1, 1, 45);
  border-radius: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  position: relative;
}

#inv-display li img { 
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 22px;
}

#inv-display li .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#inv-display li hr {
  width: 100%;
  margin: 10px 0;
}

#inv-display li a,
#inv-display li .price,
#inv-display li h2,
#inv-display li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.1em;
}

.container h1 {
  flex: 1 1 100%;
}



/* Inventory details page styles */
.vehicle-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.vehicle-detail img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.vehicle-info {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.highlight {
  background-color: #67d3e9;
  padding: 8px;
  border-radius: 5px;
}

.label {
  
  font-weight: bold;
}

.description {
  background-color: #d1e7ff;
}


/* Login styles */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: rgb(1, 1, 45);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form label {
  font-weight: bold;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form button {
  background-color: #0064ce;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.form button:hover {
  background-color: #01b0d3;
}

.form-container p a {
  color: #01b0d3;
}

.form-container p a:hover {
  color: #fff;
}

#pswdBtn {
  display: inline-block;
  width: fit-content;
  margin-top: 5px;
  padding: 8px 12px;
  font-size: 14px;
  color: #000;
  background-color: #01b0d3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

#pswdBtn:hover {
  background-color: #0064ce;
}

.flash-messages, .notice {
  color: red;
  margin-bottom: 10px;
}

input:required:invalid, input:focus:invalid {
  border: 2px solid red;
  background-color: #ffe6e6;
 }
 
 input:required:valid {
  border: 2px solid green;
  background-color: #e6ffe6;
 }

.form select, #classificationList {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
  color: #000;
  appearance: none;
  cursor: pointer;
}

.form select:focus {
  border: 2px solid #01b0d3;
  outline: none;
  background-color: #e6f7ff;
}

.form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: vertical;
  min-height: 100px;
}

.form select:required:invalid,
.form textarea:required:invalid {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.form select:required:valid,
.form textarea:required:valid {
  border: 2px solid green;
  background-color: #e6ffe6;
}

.management-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.management-links li {
  margin-bottom: 10px;
}

.management-links a {
  display: inline-block;
  width: 300px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  display: inline-block;
  background-color: #0064ce;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.management-links a:hover {
  background-color: #01b0d3;
  color: #fff;
}

/* Vehicle Management Table styles  */
td {
  padding: 5px;
}

td a {
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  display: inline-block;
  background-color: #0064ce;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

td a:hover {
  background-color: #01b0d3;
  color: #fff;
}


/* Large screen */
@media screen and (min-width: 768px) {
  #wrapper {
    background-image: url('/images/site/checkerboard.jpg');
    background-position: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
  }

  #border-wrapper, .container, nav, #top-header, footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  #border-wrapper {
    border: 10px #01b0d3 solid;
    border-radius: 10px;
  }

  .container, nav, #top-header, footer {
    background-color: #fff;
  }

  nav ul {
    justify-content: space-around;
  }

  .hero {
    display: block;
    width: 100%;
  }

  .hero img {
    width: 100%;
    height: auto;
  }

  .delorean-feature {
    position: absolute;
    top:50%;
    left: 20%;
    padding: 40px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
  }

  .upgrades {
    width: 48%;
  }

  .reviews {
    width: 48%;
    padding-left: 50px;
  }

  .upgrade-item-wrapper {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upgrade-item {
    flex-direction: column;
  }

  /* Inventory Styles */
  #inv-display li {
    flex: 1 1 calc(33.33% - 30px);
  }

/* Large view inventory details page styles */
  .vehicle-detail {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 40px;
  }

  .vehicle-detail img {
    width: 50%;
    max-width: 500px;
  }

  .vehicle-info {
    width: 50%;
    max-width: 500px;
  }

  /*Form large view styles */
  .form-wrapper {
    justify-content: center;
  }

  .form-container {
    width: 50%;
    max-width: 500px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .form input {
    font-size: 1.2rem;
    padding: 12px;
  }

  .form button {
    font-size: 1.2rem;
    padding: 12px;
  }
}


