<div class="container">
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

            <div class="form-wrapper">
                <div class="form-container">

                    <% if (messages && messages.length> 0) { %>
                        <div class="flash-messages">
                            <%- messages() %>
                        </div>
                        <% } %>

                            <% if (errors) { %>
                                <ul class="notice">
                                    <% errors.array().forEach(error=> { %>
                                        <li>
                                            <%= error.msg %>
                                        </li>
                                        <% }) %>
                                </ul>
                                <% } %>


                                    <form class="form" action="/inv/add-classification" method="post">
                                        <label for="classification_name">Classification Name:</label>
                                        <p>Classification names cannot contain spaces or special characters.</p>
                                        <input type="text" id="classification_name" name="classification_name" required
                                            pattern="^[a-zA-Z0-9]+$"
                                            title="Only letters and numbers allowed. No spaces or special characters.">

                                        <button type="submit">Add Classification</button>
                                    </form>

                </div>
            </div>
</div>