<!-- View will contain content heading, message, and vehicle details display -->
<div class="container">
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

            <%- vehicleDetails %>
</div>